#about {
  max-width: 1000px;
  margin: auto;
  min-height: 50vh;
  padding: 50px 0;
}

#about p {
  margin-top: 0px;
  font-size: 18px;
  max-width: 700px;
}

#about-content {
  display: flex;
  flex-direction: row;
}

#about-image {
  padding-top: 20px;
}

#about-image img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

@media (max-width: 900px) {
  #about-content {
    flex-direction: column;
  }

  #about-image {
    padding-left: 0px;
    padding-top: 50px;
  }
  #about-image img {
    margin: auto;
  }
}
