.navbar {
  background-color: var(--light-navy);
  color: var(--lightest-slate);
  font-weight: bold;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 50px;
  max-width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-light .navbar-brand {
  color: var(--lightest-slate) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--lightest-slate) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--green-bright) !important;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    margin-right: 2rem;
    padding-bottom: .3125rem;
    padding-top: .3125rem;
    white-space: nowrap;
    text-decoration: none;
}

.nav-link {
    padding: 8px;
    text-decoration: none;
}

#basic-navbar-nav {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ml-auto {
    display: flex;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .navbar-light .navbar-nav.me-auto .nav-link {
    display: none;
  }

  .container {
    width: 100%;
  }
}
