#root {
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  background-color: var(--light-navy);
  /* display: flex; */
  margin: auto;
}

#content {
  padding: 0px 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-heading {
  display: flex;
  align-items: center;
  margin: 20px 0px 30px 0px !important;
}
.section-heading::after {
  content: "";
  width: 75%;
  margin-top: 5px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

h2 {
  color: var(--lightest-slate);
  line-height: 0.9; 
}

h3 {
  color: var(--slate);
  line-height: 0.9;
}

p {
  font-size: 18px;
}

@media (max-width: 900px) {
  #content {
    padding: 0px 50px;
  }
}

@media (max-width: 675px){
  #content {
    padding: 10px 25px;
    width: 100%;
  }

  .section-heading {
    width: unset;
  }
  .section-heading::after {
    display: none;
  }
}